
<h2 mat-dialog-title> 
  <!-- todo: get icon name from response-->
 <mat-icon svgIcon="asterisk"></mat-icon>{{objectData.title}}</h2> 
 <div class="content-container">
 <div class='object-properties-and-actions'>
  <mat-tab-group>
    <mat-tab  *ngFor='let tab of layout.getPropertyTabs()' label='{{tab._name}}'>
      <app-property-group 
          [Context]='members' 
          [TabLayout]='tab' 
          [Name]="tab._name" 
          [Layout]="layout.getPropertyTabs()">

      </app-property-group> 
    </mat-tab>
    
  </mat-tab-group>
</div>
<div class='object-collections' >
  <span *ngFor='let collectionMember of collections'>
     <app-collection-button [Context]='collectionMember' ></app-collection-button>
  </span> 
  <!-- todo
    * render each collection 
      * get collection href
      * display name from layout
      * display number of items in title bar
    * OPEN:
      * show "collection  item" component (plain text)
      * start resolving item by item within the collectionItem 
      * once resolved, display like a table item


    <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Self aware panel
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>
</mat-accordion>

    and pass it to CollectionComponent
  -->
</div>
 </div>

<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="DialogInput" tabindex="2">OK</button>
  <button mat-button mat-dialog-close tabindex="-1">Cancel</button>
</div>

