<!-- Display  -->
<!-- <mat-card>
    <mat-card-header class='group-bar' >
      <mat-card-title>{{Name}}</mat-card-title>
    <div class='actions-bar'>
    <app-action *ngFor="let action of ContextActions" [Action]='action'> 
      </app-action> 
  </div>
  </mat-card-header>
  <div class="property-list" style="cursor: pointer">
      <app-property *ngFor='let property of ContextProperties' [Property]='property'> 
      </app-property>
  </div>
</mat-card> -->
<div class="fieldSets" id="id1175">
    <fieldset class="memberGroup">
       <div class="panel panel-default">
          <div class="panel-heading">
             <span class="panel-title">{{Title}}</span>
             <div class="pull-right additionalLinks">
                <div class="pull-right" id="associatedActionLinksPanel176">
                   <ul class="additionalLinkList additionalLinkListInline list-unstyled list-inline" id="additionalLinkList177">
                        <app-action *ngFor="let action of ContextActions" [Action]='action'> 
                           </app-action> 
                   </ul>
                </div>
             </div>
          </div>
          <div class="properties panel-body">
                     <app-property *ngFor='let property of ContextProperties' 
                        [Property]='property'> 
                     </app-property>
             <div>
               <!-- <div class="property isis-org-incode-eurocommercial-contactapp-module-contacts-dom-Contact-name" id="property178">
                   <div class="scalarNameAndValueComponentType stringPanel" id="scalarTypeContainer179">
                      <div class="form-group label-left" id="scalarIfRegular17a" title="">
                         <label class="scalarName control-label">Name</label>
                         <span class="scalarValueWrapper">
                            <div class="scalarPlaceholder">
                               <span class="scalarValueInput">
                               <span class="editing">
                               <input type="text" name="theme:entityPageContainer:entity:rows:2:rowContents:1:col:tabGroups:1:panel:tabPanel:rows:1:rowContents:1:col:fieldSets:1:memberGroup:properties:1:property:scalarTypeContainer:scalarIfRegular:scalarValueContainer:scalarValue" class="form-control input-sm scalarValue" value="Anne van Hope" id="scalarValue17b" size="25" maxlength="50" tabindex="-1" readonly="readonly" title="">
                               </span>
                               </span>
                            </div>
                            <span class="help-block">
                            </span>
                         </span>
                         <div class="clearfix"></div>
                      </div>
                   </div>
                </div> -->                <!-- <div class="property isis-org-incode-eurocommercial-contactapp-module-contacts-dom-Contact-name" id="property178">
                   <div class="scalarNameAndValueComponentType stringPanel" id="scalarTypeContainer179">
                      <div class="form-group label-left" id="scalarIfRegular17a" title="">
                         <label class="scalarName control-label">Name</label>
                         <span class="scalarValueWrapper">
                            <div class="scalarPlaceholder">
                               <span class="scalarValueInput">
                               <span class="editing">
                               <input type="text" name="theme:entityPageContainer:entity:rows:2:rowContents:1:col:tabGroups:1:panel:tabPanel:rows:1:rowContents:1:col:fieldSets:1:memberGroup:properties:1:property:scalarTypeContainer:scalarIfRegular:scalarValueContainer:scalarValue" class="form-control input-sm scalarValue" value="Anne van Hope" id="scalarValue17b" size="25" maxlength="50" tabindex="-1" readonly="readonly" title="">
                               </span>
                               </span>
                            </div>
                            <span class="help-block">
                            </span>
                         </span>
                         <div class="clearfix"></div>
                      </div>
                   </div>
                </div> -->
             </div>
             <div>
                <!-- <div class="property isis-org-incode-eurocommercial-contactapp-module-contacts-dom-Contact-company" id="property17c">
                   <div class="scalarNameAndValueComponentType stringPanel" id="scalarTypeContainer17d">
                      <div class="form-group label-left" id="scalarIfRegular17e" title="">
                         <label class="scalarName control-label">Company</label>
                         <span class="scalarValueWrapper">
                            <div class="scalarPlaceholder">
                               <span class="scalarValueInput">
                               <span class="editing">
                               <input type="text" name="theme:entityPageContainer:entity:rows:2:rowContents:1:col:tabGroups:1:panel:tabPanel:rows:1:rowContents:1:col:fieldSets:1:memberGroup:properties:2:property:scalarTypeContainer:scalarIfRegular:scalarValueContainer:scalarValue" class="form-control input-sm scalarValue" value="EuroCope Amsterdam" id="scalarValue17f" size="25" maxlength="50" tabindex="-1" readonly="readonly" title="">
                               </span>
                               </span>
                            </div>
                            <span class="help-block">
                            </span>
                         </span>
                         <div class="clearfix"></div>
                      </div>
                   </div>
                </div> -->
             </div>
             <div>
                <!-- <div class="property isis-org-incode-eurocommercial-contactapp-module-contacts-dom-Contact-email" id="property180">
                   <div class="scalarNameAndValueComponentType stringPanel" id="scalarTypeContainer181">
                      <div class="form-group label-left" id="scalarIfRegular182" title="">
                         <label class="scalarName control-label">Email</label>
                         <span class="scalarValueWrapper">
                            <div class="scalarPlaceholder">
                               <span class="scalarValueInput">
                               <span class="editing">
                               <input type="text" name="theme:entityPageContainer:entity:rows:2:rowContents:1:col:tabGroups:1:panel:tabPanel:rows:1:rowContents:1:col:fieldSets:1:memberGroup:properties:3:property:scalarTypeContainer:scalarIfRegular:scalarValueContainer:scalarValue" class="form-control input-sm scalarValue" value="annvanhope@eurocope.com" id="scalarValue183" size="25" maxlength="50" tabindex="-1" readonly="readonly" title="">
                               </span>
                               </span>
                            </div>
                            <span class="help-block">
                            </span>
                         </span>
                         <div class="clearfix"></div>
                      </div>
                   </div>
                </div> -->
             </div>
          </div>
       </div>
    </fieldset>
 </div>