<!-- <mat-menu #appMenu="matMenu">
    <div  *ngFor="let section of this.sections;let i=index" >
      <app-menu-bar-section 
        [NoDivision]='isLast(i)' 
        [ResourceDescriptor]='section' 
        (onMenuSectionLoaded)="handleMenuSectionLoaded($event,i)">
      </app-menu-bar-section>
    </div>
 </mat-menu>
  
  <button mat-raised-button [matMenuTriggerFor]="appMenu">{{title}}</button> -->

            <li class="dropdown" wicket:id="menuItems">
                <a tabindex="-1" class="dropdown-toggle" data-toggle="dropdown">
                 <span >{{title}}</span>
                  <span class="caret"></span></a>
                <ul class="dropdown-menu scrollable-menu multi-level" role="menu">
                    <div  *ngFor="let section of this.sections;let i=index" >
                      <li>
                        <app-menu-bar-section 
                          [NoDivision]='isLast(i)' 
                          [ResourceDescriptor]='section' 
                          (onMenuSectionLoaded)="handleMenuSectionLoaded($event,i)">
                        </app-menu-bar-section>
                        </li>
                      </div>
                </ul>
            </li>

                <span class="fa fa-fw fa-list fontAwesomeIcon"></span>
              <div>
                <a class="menuLink" wicket:id="menuLink">
                    <span class="menuLinkLabel" ></span>
                </a>
</div>
              <div>
                <a wicket:id="folderName" tabindex="-1"></a>
                <ul class="dropdown-menu">
                    <li wicket:id="subMenuItems">
                        <!-- <wicket:container wicket:id="content"></wicket:container> -->
                    </li>
                </ul>
</div>