app-root {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
  }

  @media (max-width: 720px) {
    app-root {
      top: 92px;
    }
  
    /* material-docs-app > app-homepage,
    material-docs-app > app-guides,
    material-docs-app > guide-viewer {
      overflow-y: visible;
    } */
  }
  
  