 <app-banner></app-banner>
      <mat-grid-list cols="10">
        <mat-grid-tile  *ngFor="let result of session.universe" >
        <mat-card >
            <!-- todo: show object as is, title should be in the object. wrap mat-card in and object -->
            <mat-card-title>{{result.ActionDescriptor.friendlyName }}</mat-card-title>
            <mat-card-subtitle>{{result.Timestamp| date:'HH:mm:ss'}}</mat-card-subtitle>
        </mat-card>
        </mat-grid-tile>
    </mat-grid-list> 
<app-footer></app-footer> 