
<mat-tab-group *ngFor="let tabGroup of TabGroups">
  <div *ngFor='let tab of tabGroup.tab' >
    <mat-tab *ngIf="isNotEmpty(tab)"  label='{{tab.name}} '>
      <app-layout-row *ngFor="let row of this.asArray(tab.row)" 
          [LayoutContext]="row"
          [ObjectContext]="ObjectContext" >
      </app-layout-row>
    </mat-tab>
  </div>
</mat-tab-group>

<app-property-group *ngFor="let fieldSet of FieldSets"
    [Name]="fieldSet.name" 
    [ObjectContext]="ObjectContext" 
    [LayoutContext]="fieldSet">
</app-property-group>  

<div class='object-collections' >
  <span *ngFor='let collectionMember of collections'>
     <app-collection-button 
      [LayoutContext]='collectionMember' 
      [ObjectContext]='ObjectContext'>
    </app-collection-button>
  </span> 
</div>