<div class="example-container mat-elevation-z8">
<div *ngIf="areAllColumnsLoaded">
<mat-accordion>
  <mat-expansion-panel [expanded]='true'>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{actionName}}
      </mat-panel-title>
      <mat-panel-description>
        Brief description
      </mat-panel-description>
    </mat-expansion-panel-header>

  <mat-table #table  [dataSource]="dataSource"  matSort>

    <!-- Position Column -->
    <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{column}}"> <!-- for each column -->
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        {{renderCell(column,element[column])}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  </mat-expansion-panel>
</mat-accordion>
</div>
</div>