
<div mat-dialog-title>
      <mat-panel-title>
        {{actionName}} 
      </mat-panel-title>
      <mat-panel-description>
        {{resource.Timestamp| date: 'HH:mm:ss'}}
      </mat-panel-description>
</div>

<mat-dialog-content>
<div *ngIf="areAllColumnsLoaded">

  <mat-table #table  [dataSource]="dataSource"  matSort>

    <!-- Position Column -->
    <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{column}}"> <!-- for each column -->
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <a [routerLink]="getObjectUrl(element)">
       <app-cell [value]='element[column]' [type]='getPropertyReturnType(column)'>
        </app-cell>
      </a>
    <!-- //    {{renderCell(column,element[column])}} -->
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
</mat-dialog-content>