<mat-accordion>
    <mat-expansion-panel [expanded]='true'>
        <mat-expansion-panel-header>
          
            <mat-panel-title>
              {{Name}}
            </mat-panel-title> 
            <mat-panel-description >
              <div *ngIf="_collInstance">#{{Quantity}}</div>

              <button *ngIf="_collInstance" mat-icon-button [matMenuTriggerFor]="menu" [matTooltip]="'Change display type'"  (click)="onMenuOpened($event)">
               <mat-icon>{{IsTableView? 'grid_on' : 'list'}}</mat-icon>
                </button>
                <mat-menu #menu="matMenu" (menuOpened)="onMenuOpened()" >
                  <button mat-menu-item  (click)="showAsList()" [matTooltip]="'Display as as list'">
                    <mat-icon>list</mat-icon>
                  </button>
                  <button mat-menu-item  (click)="showAsTable()" [matTooltip]="'Display as a table'">
                    <mat-icon>grid_on</mat-icon>
                  </button>
                </mat-menu>

              <div>
               <mat-icon *ngIf="!_collInstance">error</mat-icon>
              </div>

            </mat-panel-description>
          </mat-expansion-panel-header>
    <mat-list *ngIf="!IsTableView" role="list">
      <mat-list-item *ngFor="let item of Items" role="listitem">
        <a  (click)="openItem(item)">{{item.$$title}}</a></mat-list-item>
    </mat-list>

     <app-collection-table *ngIf="IsTableView && _collInstance" [CollectionInstance]='_collInstance' [CollectionDescriptor]='_collDescriptor'></app-collection-table> 
    </mat-expansion-panel>
  </mat-accordion>