/* You can add global styles to this file, and also import other style files */
 /* @import "~@angular/material/prebuilt-themes/indigo-pink.css";  */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
/* unvisited link */
a:link {
  color: #ffff;
}

/* visited link */
a:visited {
  color:#ffffffa9;
}

.cdk-overlay-pane{
  max-width: calc(100% - 15px) !important;
}

/* default dragula styles */
/* .gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
  }
  .gu-hide {
    display: none !important;
  }
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }
   */

  body{
    width:"100%";
  }

.red-snackbar {
    background: #e74c3c;
    color: #ffffff;
  }