<div>
    <div class="bookmarkedPagesPanel">
       <div class="showPanelTab bookmarkRibbon navbar-inverse" style="height: 61px;"></div>
       <div id="bookmarkedPagesSlidingDiv">
          <div class="row">
             <div class="col-xs-12">
                <div class="panel-group">
                   <div class="panel panel-default">
                      <div class="panel-heading">
                         <h4 class="panel-title"><span class="fa fa-fw fa-bookmark"></span> Bookmarks</h4>
                      </div>
                      <div class="panel-body" id="wicket__InlineEnclosure_175730153816e">
                         <span id="helpText16f">You have no bookmarks!</span>
                      </div>
                      <ul id="bookmarkedPages" class="list-group">
                         <li class="list-group-item">
                            <ul class="bookmarkedPagesList list-group" id="bookmarkList170">
                            </ul>
                         </li>
                      </ul>
                      <div id="wicket__InlineEnclosure_1757301539171" style="display:none"></div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>