<!-- <mat-form-field>
  <input matInput  [placeholder]='Name' [(ngModel)]="Value" readonly='true'>
</mat-form-field> -->

<div class="property isis-org-incode-eurocommercial-contactapp-module-contacts-dom-Contact-name" id="property178">
    <div class="scalarNameAndValueComponentType stringPanel" id="scalarTypeContainer179">
       <div class="form-group label-left" id="scalarIfRegular17a" title="">
          <label class="scalarName control-label">{{Name}}</label>
          <span class="scalarValueWrapper">
             <div class="scalarPlaceholder">
                <span class="scalarValueInput">
                <span class="editing">
                <input type="text" name="theme:entityPageContainer:entity:rows:2:rowContents:1:col:tabGroups:1:panel:tabPanel:rows:1:rowContents:1:col:fieldSets:1:memberGroup:properties:1:property:scalarTypeContainer:scalarIfRegular:scalarValueContainer:scalarValue" class="form-control input-sm scalarValue" value="{{Value}}" id="scalarValue17b" size="25" maxlength="50" tabindex="-1" readonly="readonly" title="">
                </span>
                </span>
             </div>
             <span class="help-block">
             </span>
          </span>
          <div class="clearfix"></div>
       </div>
    </div>
 </div>